<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/editLoja.css" />
		<%- include("./favicon.ejs") %>
	</head>
	<body>
		<header>
			<a href="/admloja">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<nav>
				<a href="/admloja">Loja</a>
				<a>Aluguéis</a>
				<a>Usuários</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Editar Dados do Veículo</h2>
			<form
				action="/editLoja"
				method="post"
				enctype="multipart/form-data"
			>
				<fieldset>
					<legend>Formulário de Edição</legend>
					<% for(let i = 0; i <veiculos.length; i++) {
					if(veiculos[i]._id== id) {%>
					<div class="input">
						<input
							type="text"
							name="_id"
							value="<%= veiculos[i]._id %>"
							hidden
						/>
					</div>
					<div class="input">
						<label for="nome">Nome</label>
						<input
							type="text"
							name="nome"
							id="nome"
							value="<%= veiculos[i].nome %>"
						/>
					</div>
					<div class="input">
						<label for="marca">Marca</label>
						<input
							type="text"
							name="marca"
							id="marca"
							value="<%= veiculos[i].marca %>"
						/>
					</div>
					<div class="input">
						<label for="cor">Cor</label>
						<input
							type="text"
							name="cor"
							id="cor"
							value="<%=
							veiculos[i].cor %>"
						/>
					</div>
					<div class="input">
						<label for="diaria">Diária</label>
						<input
							type="text"
							name="diaria"
							id="diaria"
							value="<%= veiculos[i].diaria %>"
						/>
					</div>
					<div class="input">
						<label for="upload"
							>Upload - Escolha outra imagem !</label
						>
						<input
							type="file"
							class="filepond"
							id="upload"
							name="filepond"
							accept="image/png, image/jpeg"
						/>
					</div>
					<div class="input">
						<img
							id="imgChooser"
							src="<%= veiculos[i].foto %>"
							alt="descricao imagem blablal"
						/>
					</div>

					<button type="submit">Enviar Dados</button>
					<%}%> <%}%>
				</fieldset>
			</form>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
		<script>
			function readImage() {
				const img = document.getElementById("imgChooser");

				if (this.files && this.files[0]) {
					var file = new FileReader();

					file.onload = function (e) {
						img.src = e.target.result;
					};

					file.readAsDataURL(this.files[0]);

					img.style.display = "block";
					img.style.width = "490px";
					img.style.heigth = "227px";
				}
			}

			const inputFile = document.getElementById("upload");

			inputFile.addEventListener("change", readImage, false);
		</script>
	</body>
</html>
