<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/editLoja.css" />
		<link rel="stylesheet" href="styles/loja.css" />
		<%- include("./favicon.ejs") %>
	</head>
	<body>
		<header>
			<a href="/loja">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<!-- <div class="input">
				<form action="/lojabuscar" method="post">
					<input type="text" name="busca" placeholder="Buscar" />
					<button type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
			</div> -->
			<nav>
				<a href="/admloja">Loja</a>
				<a>Meus Aluguéis</a>
				<a>Minha Conta</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Alugar Carro</h2>
			<form action="" method="post">
				<fieldset>
					<legend>Formulário de aluguel</legend>
					<% for(let i = 0; i <veiculos.length; i++) {
					if(veiculos[i]._id== car) {%>
					<div class="input">
						<label for="nome">Nome</label>
						<input
							type="text"
							name="nome"
							id="nome"
							disabled
							value="<%= veiculos[i].nome %>"
						/>
					</div>
					<div class="input">
						<label for="marca">Marca</label>
						<input
							type="text"
							name="marca"
							id="marca"
							disabled
							value="<%= veiculos[i].marca %>"
						/>
					</div>
					<div class="input">
						<label for="cor">Cor</label>
						<input
							type="text"
							name="cor"
							id="cor"
							disabled
							value="<%=
								veiculos[i].cor %>"
						/>
					</div>
					<div class="input">
						<label for="diaria">Diária</label>
						<input
							type="text"
							name="diaria"
							id="diaria"
							disabled
							value="<%= veiculos[i].diaria %>"
						/>
					</div>
					<button type="submit">Enviar Dados</button>
					<%}%> <%}%>
				</fieldset>
			</form>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
