<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/editLoja.css" />
		<link rel="stylesheet" href="styles/loja.css" />
		<link rel="stylesheet" href="styles/alugarCarro.css" />
		<%- include("./favicon.ejs") %>
	</head>
	<body>
		<header>
			<a href="/loja">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<nav>
				<a href="/loja">Loja</a>
				<a href="/meus-alugueis">Meus Aluguéis</a>
				<a href="/user-conta">Minha Conta</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Alugar Carro</h2>
			<form action="" method="post">
				<fieldset>
					<legend>Formulário de aluguel</legend>
					<% for(let i = 0; i <veiculos.length; i++) {
					if(veiculos[i]._id== car) {%>
					<div class="input">
						<label for="nome">Nome</label>
						<input
							type="text"
							name="nome"
							id="nome"
							disabled
							value="<%= veiculos[i].nome %>"
						/>
					</div>
					<div class="input">
						<label for="marca">Marca</label>
						<input
							type="text"
							name="marca"
							id="marca"
							disabled
							value="<%= veiculos[i].marca %>"
						/>
					</div>
					<div class="input">
						<label for="cor">Cor</label>
						<input
							type="text"
							name="cor"
							id="cor"
							disabled
							value="<%=
								veiculos[i].cor %>"
						/>
					</div>
					<div class="input">
						<label for="diaria">Diária</label>
						<input
							type="text"
							name="diaria"
							id="diaria"
							disabled
							value="<%= veiculos[i].diaria %>"
						/>
					</div>
					<%}%> <%}%>
					<div class="input">
						<label for="dataini">Início do Aluguel</label>
						<input
							type="date"
							name="dataini"
							id="dataini"
							class="data"
							required
						/>
					</div>
					<div class="input">
						<label for="datafim">Fim do Aluguel</label>
						<input
							type="date"
							name="datafim"
							id="datafim"
							class="data"
							required
						/>
					</div>
					<div class="input valor" id="valores">
						<label for="valor">Valor</label>
						<input type="text" name="valor" id="valor" disabled />
					</div>
					<div class="input pagamentos">
						<label for="pagamento">Forma de Pagamento</label>
						<div class="forma-pagamento">
							<input
								type="radio"
								name="pagamento"
								id="pagamento-pix"
								value="pix"
							/>
							<label
								for="pagamento-pix"
								class="forma"
								onclick="pagamento()"
								><i class="fa-brands fa-pix"></i> PIX
							</label>
							<input
								type="radio"
								name="pagamento"
								id="pagamento-boleto"
								value="boleto"
							/>
							<label
								for="pagamento-boleto"
								class="forma"
								onclick="pagamento()"
								><i class="fa-solid fa-barcode"></i>
								Boleto
							</label>
							<input
								type="radio"
								name="pagamento"
								id="pagamento-cartao"
								value="cartao"
							/>
							<label
								for="pagamento-cartao"
								class="forma"
								onclick="pagamento()"
								><i class="fa-solid fa-credit-card"></i>
								Cartão
							</label>
						</div>
					</div>
					<button type="submit">Confirmar Reserva</button>
				</fieldset>
			</form>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
		<script src="scripts/lojaAlugar.js"></script>
	</body>
</html>
